@import url('https://fonts.googleapis.com/css2?family=montserrat&display=swap');
body{
    background-image:  linear-gradient(#6361262, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px; padding: 0px; font-family:'Montserrat', sans-serif;
}
.main{
    background-color: lightcoral;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.left{
    background-color: darksalmon;
    width: 200px;
    height: 100%;
    float: left;
 }
 .right{
    width: 450px;
    float: left;
 }
 .profile-img{
    height: 180px;
    width: 180px;
    background-color: coral;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #fbb03b;
    box-shadow: 6px 7px 9px 5px #fbb03b73;
 }
 .profile-img{
    width: 100px;
    border-radius: 50px;
 }
 .box-1{
    position: relative;
 }
 .heading{
    background-color: aquamarine;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
 }
 .heading::after{
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: darksalmon;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: 11px;
 }
 .p1{
    padding: 9px 10px;
    font-size: 11px;
 }
 .icons1{
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
 }
 .skill-container{
    width: 90px;
    background-color: aquamarine;
    margin: 0px 10px;
 }
 .skill{
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: antiquewhite;
 }
 .html{
    width: 90px;
    background-color: antiquewhite;
 }
 .css{
    width: 80%;
    background-color: ;
 }
 .python{
    width: 80%;
    background-color: antiquewhite;
 }
 .javascript{
    width: 80%;
    background-color: antiquewhite;
 }